USE [ExpenseReporting]
GO
/****** Object:  Table [dbo].[TranslationCorpToRetail]    Script Date: 8/25/2016 10:19:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TranslationCorpToRetail](
	[CLAcct] [varchar](50) NULL,
	[CLDesc] [varchar](50) NULL,
	[RTLAcct] [varchar](50) NULL,
	[RTLSubAcct] [varchar](50) NULL,
	[RTLDesc] [varchar](50) NULL,
	[Comment] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TranslationCorpToRetail] ([CLAcct], [CLDesc], [RTLAcct], [RTLSubAcct], [RTLDesc], [Comment]) VALUES (N'722110', N'Rent - Intercompany', N'60150', N'0', N'Commission Exp- Interco', NULL)
INSERT [dbo].[TranslationCorpToRetail] ([CLAcct], [CLDesc], [RTLAcct], [RTLSubAcct], [RTLDesc], [Comment]) VALUES (N'722120', N'Rent - Intercompany', N'60150', N'0', N'Commission Exp- Interco', NULL)
INSERT [dbo].[TranslationCorpToRetail] ([CLAcct], [CLDesc], [RTLAcct], [RTLSubAcct], [RTLDesc], [Comment]) VALUES (N'773100', N'Tuition Reimbursmt', N'67910', N'0', N'Tuition Reimbursmt', N'')
GO
