USE [ExpenseReporting]
GO
/****** Object:  Table [dbo].[HOAcctUnitAssign]    Script Date: 8/25/2016 10:19:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOAcctUnitAssign](
	[Division] [nvarchar](255) NULL,
	[Company] [float] NULL,
	[AcctUnit] [nvarchar](255) NULL,
	[Owner] [nvarchar](255) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[HOAcctUnitAssign] ([Division], [Company], [AcctUnit], [Owner]) VALUES (N'Retail', 2, N'6076', N'Anyaegbunam')
INSERT [dbo].[HOAcctUnitAssign] ([Division], [Company], [AcctUnit], [Owner]) VALUES (N'Retail', 2, N'6080', N'Anyaegbunam')
INSERT [dbo].[HOAcctUnitAssign] ([Division], [Company], [AcctUnit], [Owner]) VALUES (N'Retail', 2, N'6067', N'Arazny')
