USE [ExpenseReporting]
GO
/****** Object:  Table [dbo].[HODetailDistribList]    Script Date: 8/25/2016 10:19:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HODetailDistribList](
	[Company] [varchar](50) NULL,
	[AcctUnit] [varchar](50) NULL,
	[Report] [varchar](50) NULL,
	[Name] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[HODetailDistribList] ([Company], [AcctUnit], [Report], [Name]) VALUES (N'2', N'6076', N'Anyaegbunam', N'Anyaegbunam')
INSERT [dbo].[HODetailDistribList] ([Company], [AcctUnit], [Report], [Name]) VALUES (N'2', N'6080', N'Anyaegbunam', N'Anyaegbunam')
INSERT [dbo].[HODetailDistribList] ([Company], [AcctUnit], [Report], [Name]) VALUES (N'2', N'6067', N'Arazny', N'Arazny')
GO
