USE [ExpenseReporting]
GO
/****** Object:  Table [dbo].[HOReportData]    Script Date: 8/25/2016 10:19:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOReportData](
	[Owner] [varchar](50) NULL,
	[FY] [bigint] NULL,
	[Period] [bigint] NULL,
	[Company] [varchar](50) NULL,
	[AcctUnit] [varchar](50) NULL,
	[AcctUnitDesc] [varchar](50) NULL,
	[Acct] [varchar](50) NULL,
	[AcctDesc] [varchar](50) NULL,
	[SumSeq] [varchar](50) NULL,
	[SumDesc] [varchar](50) NULL,
	[MTDAct] [decimal](32, 2) NULL,
	[MTDBud] [decimal](32, 2) NULL,
	[MTDLYA] [decimal](32, 2) NULL,
	[YTDAct] [decimal](32, 2) NULL,
	[YTDBud] [decimal](32, 2) NULL,
	[YTDLYA] [decimal](32, 2) NULL,
	[FULBud] [decimal](32, 2) NULL,
	[FULLYA] [decimal](32, 2) NULL,
	[Source] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
