USE [ExpenseReporting]
GO
/****** Object:  Table [dbo].[TranslationHypeToCorp]    Script Date: 8/25/2016 10:19:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TranslationHypeToCorp](
	[HAcct] [varchar](50) NULL,
	[HDesc] [varchar](50) NULL,
	[CLAcct] [varchar](50) NULL,
	[Comment] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TranslationHypeToCorp] ([HAcct], [HDesc], [CLAcct], [Comment]) VALUES (N'ACC_705100', N'Freight', N'700100', N'Added')
INSERT [dbo].[TranslationHypeToCorp] ([HAcct], [HDesc], [CLAcct], [Comment]) VALUES (N'ACC_101000', N'Petty Cash', N'101000', N'')
INSERT [dbo].[TranslationHypeToCorp] ([HAcct], [HDesc], [CLAcct], [Comment]) VALUES (N'ACC_107999', N'Cash - Negative Cash Balance', N'102010', N'')
GO
